#
# Library configuration
#
menu "Library Configuration"

config XMALLOC
	bool "xmalloc utils support"
	help
	  Safe malloc memory from libC

config ELF_API
	bool "ELF ABI"
	help
	  EFL application interface

endmenu
