#
# Library configuration
#
menu "Library Configuration"

config XMALLOC
	bool "xmalloc utils support"
	help
	  Safe malloc memory from libC

config ELF_API
	bool "ELF ABI"
	help
	  EFL application interface

config ELF_BUFFER_STRTAB
	bool "cache ELF string table section"
	help
	  Create globle buffer for elf string table section. Accelerate
	  Access string table section.

endmenu
